<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--CONNECTION STRING STARTS-->
    <connectionStrings>
    <add name="myconnectionstring" connectionString="Data Source=LAPTOP-5HI8CS4B\SQLEXPRESS;Initial Catalog=StoreInventoryDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
     </connectionStrings>
  <!--CONNECTION STRING ENDS-->

</configuration>